streamlit
langchain
langchain-community
chromadb
sentence-transformers
huggingface-hub
torch
transformers
peft
numpy
scipy
scikit-learn
pandas
tqdm
python-dotenv
faiss-cpu
google-generativeai
accelerate
bitsandbytes